Repository betagouv/mon-aide-cyber: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-front, eslint-back

eslint-front:
  name: eslint-front
  entry: ./mon-aide-cyber-ui/node_modules/.bin/eslint
  language: system
  args:
  - --config
  - ./mon-aide-cyber-ui/eslint.config.cjs

eslint-back:
  name: eslint-back
  entry: ./mon-aide-cyber-ui/node_modules/.bin/eslint
  language: system
  args:
  - --config
  - ./mon-aide-cyber-api/eslint.config.mjs

[BUG] Corrige le build pour clever cloud
  package.json
Due: none

[SECURITE] Mets à jour la dépendance de semver
  package.json
  pnpm-lock.yaml
Due: none

[SECURITE] Mets à jour vers Express 5.2
  mon-aide-cyber-api/package.json
  mon-aide-cyber-api/src/api/routesAPIAuthentification.ts
  mon-aide-cyber-api/src/api/routesAPIDiagnostic.ts
  mon-aide-cyber-api/src/api/webhooks/routesAPIWebhooks.livestorm.ts
  mon-aide-cyber-api/src/api/webhooks/routesAPIWebhooks.tally.ts
  mon-aide-cyber-api/src/serveur.ts
  mon-aide-cyber-api/test/api/routesAPIDiagnostic.spec.ts
  pnpm-lock.yaml
Due: eslint-front, eslint-back

[SECURITE] Mets à jour React-router suite à l’alerte https://github.com/betagouv/mon-aide-cyber/security/dependabot/103
  mon-aide-cyber-ui/package.json
  pnpm-lock.yaml
Due: none

[SECURITE] Mets à jour la dépendance cros-spawn suite à l’alerte [dependabot](https://github.com/betagouv/mon-aide-cyber/security/dependabot/100)
  package.json
  pnpm-lock.yaml
Due: none

Ajoute des logs sur les routes livestorm
  mon-aide-cyber-api/src/adaptateurs/AdaptateurSignatureRequeteHTTP.ts
  mon-aide-cyber-api/src/api/webhooks/routesAPIWebhooks.livestorm.ts
Due: eslint-front, eslint-back

[HOMOLOGATION] Ajoute un encart de contact pour toute question concernant les fonctionnalités ou la sécurité de MAC
  mon-aide-cyber-ui/src/domaine/vitrine/ecran-securite/EcranSecurite.tsx
Due: eslint-front

Récupère le siret aidant
  mon-aide-cyber-api/src/api/demandes/routesAPIDemandeEtreAide.ts
  mon-aide-cyber-api/test/api/demandes/routesAPIDemandeEtreAide.spec.ts
Due: eslint-front, eslint-back

Effectue la mise en relation pour une organisation
  mon-aide-cyber-api/src/gestion-demandes/aide/CapteurSagaDemandeAide.ts
  mon-aide-cyber-api/src/gestion-demandes/aide/MiseEnRelationParCriteres.ts
  mon-aide-cyber-api/src/gestion-demandes/aide/miseEnRelation.ts
  mon-aide-cyber-api/test/gestion-demandes/aide/CapteurSagaDemandeAide.spec.ts
Due: eslint-front, eslint-back

Récupère les aidants en fonction du siret
  mon-aide-cyber-api/src/espace-aidant/Aidant.ts
  mon-aide-cyber-api/src/gestion-demandes/aide/MiseEnRelationParCriteres.ts
  mon-aide-cyber-api/src/gestion-demandes/aide/miseEnRelation.ts
  mon-aide-cyber-api/src/infrastructure/entrepots/memoire/EntrepotMemoire.ts
  mon-aide-cyber-api/src/infrastructure/entrepots/postgres/EntrepotAidantPostgres.ts
  mon-aide-cyber-api/test/gestion-demandes/aide/MiseEnRelationParCriteres.spec.ts
  mon-aide-cyber-api/test/infrastructure/entrepots/postgres/EntrepotsPostgres.spec.ts
Due: eslint-front, eslint-back

[SECURITE] Mets à jour la dépendance lodash suite à l'alerte dependabot https://github.com/betagouv/mon-aide-cyber/security/dependabot/107
  mon-aide-cyber-api/package.json
  pnpm-lock.yaml
Due: none

[SECURITE] Mets à jour cookie-session suite à l'alerte https://github.com/betagouv/mon-aide-cyber/security/dependabot/101
  mon-aide-cyber-api/package.json
  pnpm-lock.yaml
Due: none

Récupère les aidants en fonction du siret
  mon-aide-cyber-api/src/espace-aidant/Aidant.ts
  mon-aide-cyber-api/src/gestion-demandes/aide/MiseEnRelationParCriteres.ts
  mon-aide-cyber-api/src/gestion-demandes/aide/miseEnRelation.ts
  mon-aide-cyber-api/src/infrastructure/entrepots/memoire/EntrepotMemoire.ts
  mon-aide-cyber-api/src/infrastructure/entrepots/postgres/EntrepotAidantPostgres.ts
  mon-aide-cyber-api/test/constructeurs/constructeursAidantUtilisateurInscritUtilisateur.ts
  mon-aide-cyber-api/test/gestion-demandes/aide/MiseEnRelationParCriteres.spec.ts
  mon-aide-cyber-api/test/infrastructure/entrepots/postgres/EntrepotsPostgres.spec.ts
Due: eslint-front, eslint-back

[LIVESTORM] Ajoute des logs pour investiguer sur les problèmes de webhook
  mon-aide-cyber-api/src/adaptateurs/AdaptateurSignatureRequeteHTTP.ts
Due: eslint-front, eslint-back

[LIVESTORM] Log la requête et intervertit la désérialisation du payload à l’entrée de la route
  mon-aide-cyber-api/src/adaptateurs/AdaptateurSignatureRequeteHTTP.ts
  mon-aide-cyber-api/src/api/webhooks/routesAPIWebhooks.livestorm.ts
Due: eslint-front, eslint-back

[LIVESTORM] Passe le body en raw pour vérifier le contenu
  mon-aide-cyber-api/src/adaptateurs/AdaptateurSignatureRequeteHTTP.ts
  mon-aide-cyber-api/src/api/webhooks/routesAPIWebhooks.livestorm.ts
Due: eslint-front, eslint-back

[LIVESTORM] Ajoute un log de toute la requete
  mon-aide-cyber-api/src/adaptateurs/AdaptateurSignatureRequeteHTTP.ts
Due: eslint-front, eslint-back

[LIVESTORM] Affiche la requête sous forme de string
  mon-aide-cyber-api/src/adaptateurs/AdaptateurSignatureRequeteHTTP.ts
Due: eslint-front, eslint-back

Path conditions:
  eslint-front: any of: \.[jt]sx?$
  eslint-back: any of: \.[jt]s?$
