Repository betagouv/mon-aide-cyber: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-front, eslint-back

eslint-front:
  name: eslint-front
  entry: ./mon-aide-cyber-ui/node_modules/.bin/eslint
  language: system
  args:
  - --config
  - ./mon-aide-cyber-ui/eslint.config.cjs

eslint-back:
  name: eslint-back
  entry: ./mon-aide-cyber-ui/node_modules/.bin/eslint
  language: system
  args:
  - --config
  - ./mon-aide-cyber-api/eslint.config.mjs

[DEVENIR AIDANT] Remplace le lien du mail de contact MAC par le lien vers la page des relais associatifs
  mon-aide-cyber-ui/src/domaine/espace-aidant/ecran-devenir-aidant/EcranDevenirAidant.tsx
Due: eslint-front

[SECURITE] Mets à jour axios suite alerte dependabot https://github.com/betagouv/mon-aide-cyber/security/dependabot/113
  package.json
  pnpm-lock.yaml
Due: none

[MAINTENANCE] Mets à jour le bandeau de maintenance en prévision de la migration Clever Cloud
  mon-aide-cyber-api/src/maintenance/maintenance.html
Due: none

[SECURITE] Mets à jour basic-ftp suite à l’alerte dependabot https://github.com/betagouv/mon-aide-cyber/security/dependabot/120
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

[SECURITE] Mets à jour minimatch suite alerte dependabot https://github.com/betagouv/mon-aide-cyber/security/dependabot/115
  package.json
  pnpm-lock.yaml
Due: none

[SECURITE] Mets à jour la dépendance rollup suite alerte dependabot https://github.com/betagouv/mon-aide-cyber/security/dependabot/120
  package.json
  pnpm-lock.yaml
Due: none

[SECURITE] Mets à jour la dépendance immutable suite alerte dependabot https://github.com/betagouv/mon-aide-cyber/security/dependabot/131
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

[SECURITE] Mets à jour la dépendance minimatch suite alerte dependabot https://github.com/betagouv/mon-aide-cyber/security/dependabot/128
  package.json
  pnpm-lock.yaml
Due: none

[SECURITE] Repasse les versions des dépendances en version mineure plutôt que patch
  mon-aide-cyber-api/package.json
  mon-aide-cyber-ui/package.json
  package.json
  pnpm-lock.yaml
Due: none

[SECURITE] Mets à jour les dépendances
  package.json
  pnpm-lock.yaml
Due: none

[FIXE] Corrige les erreurs suite à la mise à jour des dépendances
  mon-aide-cyber-api/eslint.config.mjs
  mon-aide-cyber-api/package.json
  mon-aide-cyber-api/src/api/adaptateurLimiteurTraffic.ts
  mon-aide-cyber-api/test/adaptateurs/AdaptateurDeRequeteHTTPMemoire.ts
  mon-aide-cyber-api/test/infrastructure/adaptateurs/adaptateurRechercheEntreprise.spec.ts
  mon-aide-cyber-ui/src/composants/auto-completion/reducteurAutoCompletion.ts
  mon-aide-cyber-ui/src/domaine/diagnostic/reducteurRestitution.ts
  mon-aide-cyber-ui/src/domaine/espace-aidant/mon-compte/ecran-mes-informations/composants/reducteurProfil.ts
  mon-aide-cyber-ui/src/domaine/espace-aidant/mon-compte/ecran-mes-preferences/composants/reducteurPreferences.ts
  mon-aide-cyber-ui/src/domaine/gestion-demandes/parcours-aidant/reducteurMonEspaceDemandeDevenirAidant.ts
  mon-aide-cyber-ui/src/domaine/parcours-utilisation-service/parcours-mon-espace-demande-devenir-aidant/ecran-mon-espace-demande-devenir-aidant/reducteurInformationsAidant.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint-front, eslint-back

Initie la recherche de demandes non pourvues
  mon-aide-cyber-api/src/administration/gestion-demandes/aides/aidesNonPourvues.ts
  mon-aide-cyber-api/src/gestion-demandes/aide/DemandeAide.ts
  mon-aide-cyber-api/src/infrastructure/entrepots/memoire/EntrepotMemoire.ts
  mon-aide-cyber-api/src/infrastructure/entrepots/postgres/EntrepotAideConcret.ts
  mon-aide-cyber-api/src/relation/AdaptateurRelationsMAC.ts
  mon-aide-cyber-api/src/relation/EntrepotRelation.ts
  mon-aide-cyber-api/src/relation/infrastructure/EntrepotRelationMemoire.ts
  mon-aide-cyber-api/src/relation/infrastructure/EntrepotRelationPostgres.ts
  mon-aide-cyber-api/test/administration/gestion-demandes/aides/aidesNonPourvues.spec.ts
  mon-aide-cyber-api/test/relation/AdaptateurRelationsMAC.spec.ts
Due: eslint-front, eslint-back

Implémente la recherche des Aidés
  mon-aide-cyber-api/src/infrastructure/adaptateurs/adaptateursRequeteBrevo.ts
  mon-aide-cyber-api/src/infrastructure/brevo/ConstructeursBrevo.ts
  mon-aide-cyber-api/src/infrastructure/entrepots/postgres/EntrepotAideConcret.ts
  mon-aide-cyber-api/test/infrastructure/entrepots/postgres/aideAuxTests/EntrepotAideBrevoMemoire.ts
Due: eslint-front, eslint-back

Ajoute la commande d’administration pour lancer la recherche des demandes non pourvues
  mon-aide-cyber-api/package.json
  mon-aide-cyber-api/src/administration/gestion-demandes/aides/commande.ts
Due: eslint-front, eslint-back

[CORRECTION] Rends la commande exécutable
  mon-aide-cyber-api/src/administration/gestion-demandes/aides/commande.ts
Due: eslint-front, eslint-back

Écris le résultat des aides non pourvues dans un fichier
  mon-aide-cyber-api/src/administration/gestion-demandes/aides/commande.ts
Due: eslint-front, eslint-back

[REMANIEMENT] Spécifie les demandes sans diagnostic
  mon-aide-cyber-api/src/administration/gestion-demandes/aides/aidesNonPourvues.ts
  mon-aide-cyber-api/src/administration/gestion-demandes/aides/commande.ts
  mon-aide-cyber-api/test/administration/gestion-demandes/aides/aidesNonPourvues.spec.ts
Due: eslint-front, eslint-back

Retourne les diagnostics sans Aidant
  mon-aide-cyber-api/src/administration/gestion-demandes/aides/aidesNonPourvues.ts
  mon-aide-cyber-api/src/administration/gestion-demandes/aides/commande.ts
  mon-aide-cyber-api/src/relation/AdaptateurRelationsMAC.ts
  mon-aide-cyber-api/test/administration/gestion-demandes/aides/aidesNonPourvues.spec.ts
Due: eslint-front, eslint-back

[CORRECTION] Gère le cas où l’API Géo nous retourne une erreur lors de l’appel EPCI
  mon-aide-cyber-api/index.ts
  mon-aide-cyber-api/src/adaptateurs/AdaptateurEnvoiMail.ts
  mon-aide-cyber-api/src/adaptateurs/AdaptateurGeographie.ts
  mon-aide-cyber-api/src/api/aidant/routesAPIAidantRepondreAUneDemande.ts
  mon-aide-cyber-api/src/gestion-demandes/aide/MiseEnRelationParCriteres.ts
  mon-aide-cyber-api/src/infrastructure/adaptateurs/AdaptateurEnvoiMailBrevo.ts
  mon-aide-cyber-api/src/infrastructure/adaptateurs/adaptateurRechercheEntreprise.ts
  mon-aide-cyber-api/src/serveur.ts
  mon-aide-cyber-api/test/api/aidant/routesAPIAidantRepondreAUneDemande.spec.ts
  mon-aide-cyber-api/test/api/testeurIntegration.ts
  mon-aide-cyber-api/test/constructeurs/constructeurAdaptateurRechercheEntrepriseEnDur.ts
  mon-aide-cyber-api/test/gestion-demandes/aide/MiseEnRelationParCriteres.spec.ts
Due: eslint-front, eslint-back

Mets à jour les tampons d’homologation MAC
  mon-aide-cyber-ui/public/images/homologation/encart-homologation.desktop.png
  mon-aide-cyber-ui/public/images/homologation/encart-homologation.mobile.png
  mon-aide-cyber-ui/public/images/homologation/encart-homologation.tablette.png
Due: none

Path conditions:
  eslint-front: any of: \.[jt]sx?$
  eslint-back: any of: \.[jt]s?$
